<div class="card-main">
  <div class="card-title">
    <div class="card-profile">
      <img [src]="cardData.profileImage" alt="" />
      <h2 class="card-name">{{ cardData.name }}</h2>
    </div>
    <div class="address">
      <div class="date">
        <span>{{ cardData.date }}</span>
        <i class="far fa-clock"></i>
      </div>
      <div class="place">
        <span>{{ cardData.place }}</span>
        <i class="fas fa-map-marker-alt"></i>
      </div>
    </div>
  </div>
  <div class="card-image">
    <img [src]="cardData.displayImage" alt="" />
  </div>
  <div class="card-footer">
    <div class="tags">
      #dog #cat #classroom #dog #cat #classroom #dog #cat #classroom
    </div>
    <div class="favorite">
      <i class="fas fa-heart"></i>
    </div>
  </div>
</div>
