.people-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 61px;
  border-bottom: 1px solid rgba(239, 240, 244, 1);
  padding: 12px 0;
  .profile-details {
    display: flex;
    align-items: center;
    line-height: 1.5;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50px;
    }
    .name-place {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
      .name {
        font-size: 14px;
        color: rgba(123, 123, 123, 1);
      }
      .country {
        font-size: 12px;
        color: rgba(154, 154, 154, 1);
      }
    }
  }
  .add-people {
    font-size: 24px;
    width: 30px;
    cursor: pointer;
    .fa-plus-circle {
      color: rgba(237, 46, 138, 1);
    }
    .fa-check-circle {
      color: rgb(13, 213, 134);
    }
  }
}
